<form class="xtr-auth-form" [formGroup]="loginForm">

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="showPasswordToggle ? 'password' : 'text'" required formControlName="password">
    <button mat-icon-button matSuffix (click)="showPasswordToggle = !showPasswordToggle" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPasswordToggle">
      <mat-icon>{{showPasswordToggle ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="xtr-auth-form__ctrl">
    <a href="/auth/registration" class="forgot-link">Forgot password</a>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </div>

</form>
