.example-action-buttons {
  padding-bottom: 20px;

}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-header-description {
   //pointer-events: none;
}


.xtr-todo-actions {
  align-items: center;
}

.xtr-todo-share-toggle {
  margin-right: 0.5rem;
}

.xtr-share-link {
  color: rgba(0, 0, 0, .26);
  font-size: 14px;
  font-weight: 500;
  margin-right: 0.5rem;
}

.xtr-share-actions {
  display: flex;
  align-items: center;
}

.example-form-field {
  flex-grow: 1;
}

.xtr-create-list-form {
  display: flex;
}


.mat-form-field-suffix {
  display: flex;
  align-self: flex-start;
}

.xtr-create-container {
  display: flex;
}

.create-button {
  height: 80%;
  margin: 1rem;
}
