.example-form-field {
  flex-grow: 1;
}

.xtr-create-list-form {
  display: flex;
}


.mat-form-field-suffix {
  display: flex;
  align-self: flex-start;
}
.xtr-create-container {
  display: flex;
}
.create-button {
  height: 80%;
  margin: 1rem;
}
