<h1>Forgot password request form</h1>
<form class="xtr-auth-form" [formGroup]="forgotForm">

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
<!--    <mat-error *ngIf="forgotForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>-->
  </mat-form-field>

  <mat-divider></mat-divider>
  <div class="xtr-auth-form__ctrl">
    <button mat-raised-button color="primary"  type="submit" [disabled]="forgotForm.invalid" (click)="submit()">Send request</button>
  </div>

</form>
