.xtr-auth-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__ctrl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }
}

.forgot-link {
  font-size: 12px;
  text-decoration: none;
}
