<h2>Your profile data</h2>
<mat-list role="list" *ngIf="!isLoading; else loading">
  <mat-list-item role="listitem">ID: {{userData?.localId}}</mat-list-item>
  <mat-list-item role="listitem">
    Name:
    <input
      type='text'
      matInput
      disabled="{{inputNameFieldDisabled}}"
      [(ngModel)]="userNewName"
    >
    <button (click)="inputNameFieldDisabled = false" *ngIf="inputNameFieldDisabled">Change</button>
    <button
      (click)="updateUserName()"
      *ngIf="!inputNameFieldDisabled"
      [disabled]="userData?.displayName === userNewName"
    >Update
    </button>
  </mat-list-item>
  <mat-list-item role="listitem">E-mail: {{userData?.email}}</mat-list-item>
  <mat-list-item role="listitem">Registration date: {{userData?.createdAt | date:'dd.MM.YYYY HH:mm:ss'}}</mat-list-item>
  <mat-list-item role="listitem">Last password change
    date: {{userData?.passwordUpdatedAt | date:'dd.MM.YYYY HH:mm:ss'}}</mat-list-item>
  <mat-list-item role="listitem">Last login date: {{userData?.lastLoginAt | date:'dd.MM.YYYY HH:mm:ss'}}</mat-list-item>
  <mat-list-item role="listitem">Token expire date: {{tokenExpiresDate | date:'dd.MM.YYYY HH:mm:ss'}}</mat-list-item>
</mat-list>
<ng-template #loading>
  <xtr-loader></xtr-loader>
</ng-template>
