/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.xtr-snackbar-container {
  max-width: 70vw !important; // important вообще не использую, добавил только в образовательных целях
  color: #FFFFFF;
}

.error-xtr-snack-bar {
  background-color: #D32F2F;

}
.info-xtr-snack-bar {
  background-color: #0288D1;
}
.success-xtr-snack-bar {
  background-color: #2E7D32;
}

.warning-xtr-snack-bar {
  background-color: #ED6C02;
}

.mat-simple-snackbar-action {
  color: #FFFFFF;
}

.xtr-table-tList {
  width: 100%;
  margin-bottom: 1rem;
}

.xtr-done-task {
  text-decoration: line-through;
}
