.xtr-fab-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  opacity: 0.8;
  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0 7px 8px -4px, rgb(0 0 0 / 14%) 0px 12px 17px 2px, rgb(0 0 0 / 12%) 0px 5px 22px 4px;
    opacity: 1;
  }
}
